<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!-- TODO how to set properties -->
        <plugin interceptor="com.weaponlin.mybatis.plugin.ShardingInterceptor">
            <property name="demo" value="user"/>
        </plugin>
    </plugins>
</configuration>