<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!-- TODO how to set properties -->
        <plugin interceptor="com.weaponlin.mybatis.plugin.ShardingInterceptor">
            <property name="tables" value="demo.user"/>
            <property name="databaseSize" value="100"/>
            <property name="tableSize" value="10"/>
            <property name="shardingStrategy" value="com.weaponlin.mybatis.plugin.strategy.RemainderShardingStrategy"/>
        </plugin>
    </plugins>
</configuration>